<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBL3Kgb1r0wQop8EGAr0v0AMOsQf96rYM</string>
	<key>GCM_SENDER_ID</key>
	<string>83750489723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iskaan.ownerPortal</string>
	<key>PROJECT_ID</key>
	<string>iskaan-owners</string>
	<key>STORAGE_BUCKET</key>
	<string>iskaan-owners.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83750489723:ios:1af3fcf82f76eff9941cde</string>
</dict>
</plist>